* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomFont';
    /* Your custom font name */
    src: url('./assets/custom.otf') format('opentype');
    /* Use the correct path */
    font-weight: normal;
    font-style: normal;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'CustomFont', sans-serif;

}

a {
    color: black;
}

a {
    pointer-events: all;
    color: black;
    text-decoration: none;
}

svg {
    fill: black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

canvas {
    opacity: 0;
    touch-action: none;
    animation: fade-in 5s ease 1s forwards;
    /* background: #000; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    /* Transparent black */
    z-index: 1000;
    overflow: hidden;
}

.overlay img {
    width: 60vh;
}

.close-button {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    /* Adjust size as needed */
    cursor: pointer;
    z-index: 1100;
    /* Make sure it's above the content */
}

.close-button:hover {
    color: #ccc;
    /* Optional: Change color on hover */
}

.loadingScreen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    background-color: #111;
    z-index: 10000;
    color: #a37805;
}

.loadingScreen h1 {
    font-size: 4rem;
    font-family: 'CustomFont', sans-serif;
}

.loadingScreen .para {
    font-size: 1.5rem;
    color: #a37805;
    font-family: 'CustomFont', sans-serif;
}



header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    z-index: 100;
    color: #a37805;
}



.header-heading {
    font-size: 3rem;
    padding-left: 12px;
    padding-top: 1rem;
    cursor: pointer;
}

.loadingScreen p {
    font-size: 4rem;
}

img {
    opacity: 0;
}

.backgroundContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundContainer h1 {
    font-family: 'CustomFont', sans-serif;
    font-size: 8rem;
    opacity: 1;
    margin-top: 4rem;
    word-wrap: break-word;
    background-image: radial-gradient(circle, #dddd21, #a37805);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 8rem;
    opacity: 0.1;
    padding-left: 12rem
}



.tabs-container {
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    right: 0;
    color: #fff;
    width: 70%;
    font-weight: 100;
}


@media screen and (min-width:768px) {
    .backgroundContainer h1 {
        font-size: 30rem;
        font-family: "Bebas Neue", sans-serif;
    }

    .tabs-container {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
        width: 15%;
    }
}

.tabs-container .tabs {
    display: flex;
    gap: 1rem;
    padding: 4rem;
}

.tab {
    position: relative;
    right: 25px;
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding-left: 2px 4px 2px 4px;

}

.tab-label {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -12px;
    --tw-bg-opacity: 1;
    background-color: #fff;
    height: 1px
}

.explore-button {
    position: absolute;
    padding: 1rem 2rem;
    top: 70%;
    left: 30%;
    color: white;
    z-index: 50;

    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.visitus-button {
    position: absolute;
    padding: 1rem 2rem;
    top: 60%;
    right: 10%;
    color: white;
    z-index: 50;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.explore-button p,
.visitus-button p {
    width: 280px;
    font-size: 20px;
}

.explore-button button,
.visitus-button button {
    width: fit-content;
    background: transparent;
    border: none;
    outline: none;
    color: #a37805;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s;
}

.explore-button button:hover {
    transform: translateX(8px);
}

.visitus-button button:hover {
    transform: translateX(8px);
}

@media screen and (max-width:500px) {
    .explore-button {
        left: 50%;
    }
}

.card-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    font-size: 45px;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    /* background: rgba(163, 120, 5, 0.4); */
    padding: 5px;
}

/* styles.css */
.progress-bar {
    background: rgb(7, 31, 83);
    height: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* Ensure it's on top */
    transition: width 0.2s;
}

/* CountdownTimer.css */
.countdown-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.countdown-timer {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.countdown-timer p {
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.countdown-timer button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.audioPlayer {
    z-index: 500;
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: 2rem;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: all 0.2s;
    perspective: 100px;
}

.audioPlayer .cross {
    width: 2px;
    background: black;
    height: 35px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    transform: rotateZ(-45deg);
}

.audioPlayer:hover {
    transform: scale(1.2);
}

.card-container {
    position: relative;
    display: inline-block;
    /* Make sure it wraps around the content */
}

.card-heading {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    /* Adjust size as needed */
    color: white;
    /* Ensure good contrast with image */
}